/* ::-webkit-scrollbar {

  width: 0px;

  height: 0px;

}

::-webkit-scrollbar-button {

  width: 0px;

  height: 0px;

}

::-webkit-scrollbar-thumb {

  background: #e1e1e1;

  border: 0px none #ffffff;

  border-radius: 79px;

}

::-webkit-scrollbar-thumb:hover {

  background: #ffffff;

}

::-webkit-scrollbar-thumb:active {

  background: #000000;

}

::-webkit-scrollbar-track {

  background: #666666;

  border: 0px none #ffffff;

  border-radius: 100px;

}

::-webkit-scrollbar-track:hover {

  background: #666666;

}

::-webkit-scrollbar-track:active {

  background: #333333;

}

::-webkit-scrollbar-corner {

  background: transparent;

}
 */

 ::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
    border-radius: 10px;
    display: inherit;
}


/* background of the scrollbar except button or resizer */

::-webkit-scrollbar-track {
    border-radius: 25px;
    background-color: transparent;
}

::-webkit-scrollbar-track:hover {
    background-color: rgba(186, 223, 238, 0.788);
    border-radius: 25px;
}


/* scrollbar itself */

::-webkit-scrollbar-thumb {
    background-color: steelblue;
    border-radius: 25px;
    /* border: 5px solid #fff */
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(1, 103, 187);
}


/* set button(top and bottom of the scrollbar) */

::-webkit-scrollbar-button {
    display: none
}