nav.navbar.navbar-default {
    background: #05a2f9;
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
}

.navbar-default .navbar-link,
.navbar-nav a {
    color: #fdfdfe;
    background-color: transparent;
}

.navbar-default .navbar-nav>.active>a:hover {
    color: #ffffff;
    background-color: transparent;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus {
    color: ##e6e6e6;
    background-color: white;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: white;
    background-color: transparent;
}

div.jumbotron.hero {
    background: url(/img/banner1.jpg) no-repeat;
    background-size: cover;
}

color {}

.jumbotron {
    color: white;
}

a.btn.btn-success.btn-lg {
    margin-left: 20px;
}

.fa {
    margin-left: 5px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

@media (max-width:450px) {
    a.margin-sm {
        margin-top: 10px;
        margin-left: 0 !important;
    }
}

@media (max-width:450px) {
    a.btn.margin-sm {
        width: 100%;
    }
}

div.jumbotron.hero {
    margin-bottom: 0;
}

div.container.about {
    background: rgb(228, 248, 214);
    width: 100%;
}

@media (max-width:991px) {
    div.jumbotron.hero {}
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: white;
    background-color: transparent;
}

div.container-fluid.about {
    padding: 50px 100px;
    background-color: rgb(246, 247, 246);
}

@media (max-width:767px) {
    div.container-fluid.about {
        padding: 20px;
    }
}

div.container-fluid.author {
    padding: 50px 100px;
    background-color: rgb(231, 252, 231);
}

@media (max-width:767px) {
    div.container-fluid.author {
        padding: 20px;
    }
}

div.features {
    padding: 30px 50px;
    background-color: rgb(231, 252, 231);
}

@media (max-width:767px) {
    div.features {
        padding: 0;
    }
}

div.col-md-4.feature {
    padding: 30px;
    text-align: center;
}

feature p.text-center {
    font-family: Arial, sans-serif;
}

feature>p.text-center {
    font-family: "Arial", sans-serif;
}

p.text-center.feature {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 20px;
}

feature>img {
    width: 50%;
}

div.feature img {
    width: 30%;
    min-width: 140px;
}

div.col-sm-4.feature {
    text-align: center;
    padding: 30px 10px;
}

.navbtn a {
    transition: all 0.3s;
}

div.item.active {
    background: transparent;
}

div.item.active {
    text-align: center;
}

.wehave img {
    width: 600px;
    max-width: 100%;
    text-align: center;
}

div.cc {
    background: url(../../assets/img/1.gif) no-repeat 500px;
    width: 500px;
    height: 300px;
}

div.item.active {
    text-align: center;
}

div.row.wehave {
    margin-top: 30px;
}

wehave div.col-md-5.col-md-push-7 {
    text-align: center;
}

@media (min-width:990px) {
    .wehave div.left h3 {
        text-align: right !important;
    }
}

.wehave div.left h3 {
    text-align: center;
}

@media (min-width:990px) {
    .wehave div.left p {
        text-align: justify;
        text-align-last: right !important;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }
}

@media (min-width:990px) {
    .wehave div.right p {
        text-align: justify;
        text-align-last: left !important;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }
}

.wehave div.right p {
    text-align-last: center;
}

.wehave div.left p {
    text-align-last: center;
}

@media (min-width:990px) {
    .wehave .left,
    .wehave .right {
        padding: 20px 40px;
    }
}

.wehave .image {
    text-align: center;
}

@media (min-width:990px) {
    .wehave div.right h3 {
        text-align: left !important;
    }
}

.wehave div.right h3 {
    text-align: center;
}

div.row.introduction {
    margin-top: 50px;
}

div.col-md-5.col-md-push-7.teacher_img {
    text-align: center;
}

.teacher_img img {
    border: 7px solid transparent;
}

div.img_container {
    margin: auto;
    max-width: 300px;
    border: 2px solid rgb(205, 205, 205);
    border-radius: 50%;
}

div.col-md-pull-5.col-sm-7.author_info {
    padding: 20px 0;
}

@media (max-width:767px) {
    div.author_info {
        margin-top: 30px;
    }
}

h2.author_info {
    text-align: center;
}

h1.text-center {
    font-size: 4em;
}

p.author_info {
    text-align: justify;
    text-align-last: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

div.col-sm-4.feature img {
    margin-bottom: 1.5em;
}

html,
#page-content-wrapper {
    height: 100%;
}

body {
    font-family: "Open Sans", sans-serif;
    height: calc(100% - 65px);
}

#lesson_menu,
#activity_menu {
    margin-bottom: 150px;
}

.onFocus {
    display: block;
}

.offFocus {
    display: block;
}

@media screen and (max-width:767px) {
    .onFocus {
        display: block;
    }
    .offFocus {
        display: none;
    }
}

a {
    outline: 0;
}

input::-moz-focus-inner {
    border: 0;
}

.noscroll {
    overflow: hidden;
}

.sidenav::-webkit-scrollbar {
    /*display: none;*/
}

.playWord {
    transition: background 0.2s;
}

.playWord:hover {
    background: cyan;
}

.playWord:active {
    outline: none;
}

.playWord:focus {
    outline: none;
}

.wordLine {
    margin: 8px 0px;
}

.controlBtn {
    padding: 10px;
}

.correctWord,
.correctWord:hover {
    background: #33ffad;
}

.wrongWord,
.wrongWord:hover {
    color: white;
    background: red;
}

#activity_menu {
    border-right: none;
}

.header_bar {
    border-radius: 0;
}

.navbar.navbar-default {
    z-index: 101;
}

.navbar-brand.title {
    display: none;
}

@media screen and (min-width: 768px) {
    .navbar-header {
        max-width: calc(100% - 250px);
        overflow-x: hidden;
    }
    .navbar-brand {
        /*height: 70px;*/
        /*width: 90%;*/
        overflow-x: visible;
        white-space: nowrap;
    }
}

@media screen and (max-width: 761px) {
    .navbar-brand {
        max-width: calc(100% - 100px);
        overflow-x: hidden;
        white-space: nowrap;
    }
}

.header_bar main {
    margin-top: 0px;
    font-weight: 600;
    font-size: 1.5em;
}

header {
    padding-top: 30px;
}

.header_bar .navbar-nav li a.active {
    color: greenyellow;
}


/**sidbar menu**/

.sidenav {
    background-color: rgba(5, 162, 249, 0.9);
    height: 100%;
    left: 0;
    overflow-x: hidden;
    padding-top: 100px;
    padding-bottom: 145px;
    position: fixed;
    text-align: left;
    top: 65px;
    transition: all 0.5s ease 0s;
    width: 0;
    z-index: 100;
    color: #fff;
}

.sidenav div a {
    color: #fff;
    display: inline-block;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.sidenav div a:hover {
    color: #f1f1f1;
}

.sidenav .side_menu div a {
    font-size: 24px;
    font-weight: 500;
    padding-left: 8px;
}

@media screen and (max-width: 767px) {
    white-space: normal;
}

.sidenav .closebtn {
    font-size: 30px;
    margin-left: 50px;
    position: absolute;
    z-index: 99 !important;
    right: 15px;
    top: 0;
    color: white;
}

.sidenav .closebtn.open {
    position: fixed !important;
    top: 65px;
}

.sidenav .backbtn {
    display: block;
    font-size: 30px;
    margin-left: 50px;
    position: absolute;
    z-index: 99 !important;
    left: -15px;
    top: 0;
    color: white;
}

@media screen and (min-width: 767px) {
    .sidenav .backbtn {
        display: none;
    }
}

.side_menu {
    padding-left: 32px;
    border-right: 1px solid #ffffff;
}

.login_side {
    padding-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 45px;
        padding-bottom: 100px;
    }
    #lesson_menu,
    #activity_menu {
        margin-bottom: 80px;
    }
}


/**sidbar menu close**/

.btn-red {
    border-color: greenyellow;
    background: greenyellow;
    color: #fff;
}

.btn-none {
    border-color: #fff;
    background: transparent;
    color: #fff;
}

.btn.focus,
.btn:focus,
.btn:hover {
    color: #fff;
    opacity: 0.8;
}

.border-radius {
    border-radius: 0px;
}

.login_side .btn {
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px;
    text-transform: uppercase;
}

.text-red {
    color: greenyellow !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #4d4d4d;
    font-weight: 600;
    margin-top: 0;
}

.social_ico a {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: 0 5px 0 0;
    text-align: center;
    width: 30px;
    background: #c0c4c7 none repeat scroll 0 0;
    color: #fff;
    padding: 0px;
}

.social_ico {
    float: left;
    margin-top: 15px;
    width: 100%;
}

.contact_info {
    float: left;
    margin-top: 20px;
    width: 100%;
}

.mar-25 {
    margin-top: 25px;
}

.header_bar .navbar-toggle {
    height: auto;
    margin-top: 19px;
    padding: 7px 12px;
    cursor: pointer;
}

.social_ico a:hover {
    background: greenyellow none repeat scroll 0 0;
}

.sidenav .side_menu a.lesson:hover,
.sidenav .side_menu div.active a.lesson,
.sidenav .side_menu a.activity:hover,
.sidenav .side_menu div.active a.activity {
    border-left: 4px solid greenyellow;
    color: greenyellow;
}

.sidenav .side_menu div a.expandLesson~a {
    position: absolute;
    left: 150px;
}

.sidenav .side_menu a.expandLesson~a:hover {
    color: greenyellow;
    padding-left: 7px;
}

.top_section {
    float: left;
    margin-bottom: 25px;
    width: 100%;
}

.chu-section {
    float: left;
    padding: 40px 0;
    width: 100%;
}

section {
    float: left;
    width: 100%;
}

.bg-gray {
    background-color: #262627;
    color: #fff;
}

.section-cover {
    float: left;
    padding: 40px;
    width: 100%;
}

.bg-gray h1,
.bg-gray h4 {
    color: #fff;
}

.ico-cover {
    background: rgba(255, 255, 255, 0.6) none repeat scroll 0 0;
    border-radius: 100px;
    clear: both;
    height: 100px;
    line-height: 100px;
    margin: auto auto 20px;
    position: relative;
    text-align: center;
    width: 100px;
}

.view-btn,
.view-btn:hover,
.view-btn:focus {
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
}

.ico-cover::after {
    border: 4px solid #050505;
    border-radius: 100px;
    content: "";
    height: 90px;
    left: 5px;
    line-height: 90px;
    position: absolute;
    top: 5px;
    width: 90px;
}

.login_side h3 {
    color: #ffffff;
}

@media screen and (max-width: 767px) {
    .side_menu {
        border-right: none;
    }
}

.hamburger {
    position: relative;
    top: 18px;
    display: inline-block;
    width: 15px;
    height: 28px;
    margin-right: 12px;
    background: transparent;
    border: none;
    float: left;
}

.hamburger:hover,
.hamburger:focus,
.hamburger:active {
    outline: none;
}

.hamburger:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger .hamb-top,
.hamburger .hamb-middle,
.hamburger .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
}

.hamburger .hamb-top,
.hamburger .hamb-middle,
.hamburger .hamb-bottom {
    background-color: white;
}

.hamburger .hamb-top {
    top: 5px;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger .hamb-middle {
    top: 50%;
    margin-top: -2px;
}

.hamburger .hamb-bottom {
    bottom: 7px;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger:hover .hamb-top {
    top: 2px;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger:hover .hamb-bottom {
    bottom: 2px;
    -webkit-transition: all .35s ease-in-out;
}

#alert-holder {
    position: fixed;
    width: 80%;
    left: 50%;
    transform: translate(-50%, 35px);
    z-index: 10000;
}

#alert-holder .alert {
    padding: 15px 30px;
    margin-bottom: 6px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-weight: 700;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
}

#alert-holder .alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

#alert-holder .alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

#alert-holder .alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

#alert-holder .alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

#alert-holder .alert-dismissable,
#alert-holder.alert-dismissible {
    padding-right: 35px;
}

#alert-holder a.close:hover {
    color: black !important;
}

#alert-holder .close:focus,
.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}

#alert-holder .alert-dismissable .close,
.alert-dismissible .close {
    position: relative;
    top: -2px;
    right: 0;
    color: inherit !important;
}

#alert-holder a.close {
    text-decoration: none !important;
    font-size: 30px !important;
    transform: translateY(-3px);
}

.activity_holder .unavailable {
    color: rgba(255, 255, 255, .6);
    font-style: italic;
    pointer-events: none;
}

[data-title]:hover::before {
    content: attr(data-title);
    position: absolute;
    top: -26px;
    display: inline-block;
    padding: 3px 6px;
    border-radius: 5px;
    background: rgba(47, 153, 202, 0.829);
    color: #fff;
    font-size: 20px;
    font-family: sans-serif;
    white-space: nowrap;
  }
  [data-title]:hover::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 8px;
    display: inline-block;
    color: #fff;
    border: 8px solid transparent;	
    border-bottom: 8px solid #000;
  }