.tooltip {
    display: inline;
    z-index: 100;
    font-family: Arial, sans-serif;
    position: fixed;
    right: 50px;
    bottom: 10px;
    opacity: 1;
}


/* Trigger text */

.tooltip-item {
    cursor: pointer;
    transition: transform 0.4s;
}

.tooltip-item:hover {
    /*transform: scale(1.3, 1.3);*/
}

.tooltip-item>img {
    -webkit-filter: drop-shadow( 0px 0px 5px white);
    filter: drop-shadow( 0px 0px 5px white);
}


/* Gap filler */

.tooltip-item::after {
    content: '';
    position: absolute;
    width: 360px;
    height: 20px;
    bottom: 100%;
    left: 50%;
    pointer-events: none;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.tooltip:hover .tooltip-item::after {
    pointer-events: auto;
}


/* Tooltip */

.tooltip-content {
    position: absolute;
    z-index: 9;
    width: 550px;
    right: 0%;
    margin: 0 0 20px -180px;
    bottom: 100%;
    text-align: left;
    font-size: 0.765em;
    line-height: 1.4;
    box-shadow: -5px -5px 15px rgba(48, 54, 61, 0.2);
    background: -moz-linear-gradient(left, rgb(64, 150, 238) 0%, rgb(32, 122, 178) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgb(64, 150, 238) 0%, rgb(32, 122, 178) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgb(64, 150, 238) 0%, rgb(32, 122, 178) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    opacity: 0;
    cursor: default;
    pointer-events: none;
}

.tooltip-effect-2 .tooltip-content {
    -webkit-transform-origin: 50% calc(100% + 10px);
    transform-origin: 50% calc(100% + 10px);
    -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 45deg);
    transform: perspective(1000px) rotate3d(1, 0, 0, 45deg);
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
    transition: opacity 0.2s, transform 0.2s;
}

.tooltip:hover .tooltip-content {
    pointer-events: auto;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
    transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
}

.tooltip.tooltip-effect-2:hover .tooltip-content {
    -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
    transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
}


/* Arrow */

.tooltip-content::after {
    content: '';
    top: 100%;
    right: 3%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-top-color: #217BB7;
    border-width: 10px;
}


/* Tooltip content*/

.tooltip-content img {
    position: relative;
    /*height: 100%;*/
    display: block;
    float: left;
    margin-right: 1em;
}

.tooltip-text {
    /*font-size: 1.6em;
	width: 75%;
	margin-left: 4%;
	display: inline-block;
	padding: 1.31em 1.21em 1.21em 0;
	color: #fff;*/
    font-size: 1.6em;
    line-height: 1.35;
    display: block;
    padding: 1.31em 1.21em 1.21em 0;
    color: #fff;
}

.tooltip-effect-5 .tooltip-text {
    padding: 1.4em;
}

.tooltip-text a {
    font-weight: bold;
}