div.col-md-4.col-md-offset-4 {
    text-align: center;
}

div.jumbotron.extend {
    color: white;
    background-color: rgba(255, 255, 255, 0);
}

#promo_extend {
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=1);
    /* IE6-9 */
    background-size: cover;
    padding-bottom: 1px;
    position: fixed;
    width: 100%;
    z-index: 10;
}

div.jumbotron.extend h1 {
    font-size: 48px;
    font-family: serif;
}

img.center-block {
    margin: 0 auto;
}

h2 {
    text-align: center;
    font-size: 32px;
    font-family: serif;
    font-weight: 700;
}

.itemstyle {
    font-size: 28px;
    color: rgb(10, 174, 225);
}

div.content_body {
    margin: 0 auto;
    height: 750px;
}

tbody.extendtable {
    text-align: center;
    font-size: 24px;
    font-family: sans-serif;
}

@media (max-width:768px) {
    tbody.extendtable {
        text-align: center;
        font-size: 20px;
        font-family: sans-serif;
    }
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    border-top: 0px solid #ddd;
}

table.table {
    width: auto;
    text-align: left;
}

tr {
    text-align: left;
}

table.table {
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    padding-bottom: 24px;
    padding-top: 100px;
}

div.row.store {
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0 auto;
}

@media (max-width:767px) {
    div.row.store {
        padding-top: 24px;
        padding-bottom: 24px;
        margin: 0 auto;
    }
}

#wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    /* margin-top: 125px; */
    margin-bottom: 0px;
    /* background-color: #ccc; */
    top: 198px;
    overflow-y: auto;
}

#mask {
    width: 500%;
}

body {
    background-color: #66ccff !important;
    background-size: cover;
}

.part {
    width: 20%;
    float: left;
}

.selected {
    font-weight: 700;
}

.clear {
    clear: both;
}

.img {
    max-width: 100%;
    height: auto;
    border: 10px solid;
    border-image: linear-gradient(45deg, rgba(83, 109, 194, 0.63), rgba(57, 221, 106, 0.719)) 1;
}

.paragraph p {
    font-weight: 600;
}