.full-width {
    max-width: 100%;
}

.padding-top-bot {
    padding-top: 40px;
    padding-bottom: 40px;
}

.background-container {
    background-color: rgb(231, 252, 231);
}

a {
    text-decoration: none !important;
}